{{ "<!-- BEGIN FOOTER -->" | safeHTML }}
<footer>
<div class="wrapper row small-up-1 medium-up-3">
		
		<div class="column">
		<!--	<h4>Contact Info</h4>-->
		<!--	<hr>-->
                        
			<!--<a><span>Phone </span>{{ .Site.Params.footer.phone }}</a>-->
			<a href="mailto:{{ .Site.Params.footer.email }}">{{ .Site.Params.footer.emailtext }}</a>
			<!--<a><span>Address </span>{{ .Site.Params.footer.address }}</a>-->
		</div>
		
		<div class="column">
			<h4>Links</h4>
			<hr>
			{{ $currentNode := . }}
			{{ range .Site.Menus.main }}
			<a class="nav-item{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name}}</a>
			{{end}}
		</div>
		
		<div class="column">
			<h4>Social</h4>
			<hr>
			{{ $currentNode := . }}
			{{ range .Site.Menus.social }}
			<a class="nav-item{{if or ($currentNode.IsMenuCurrent "social" .) ($currentNode.HasMenuCurrent "social" .) }} active{{end}}" href="{{.URL}}">{{ .Name}}</a>
			{{end}}
		</div>
                       
		<iframe style="float:right" src="https://ghbtns.com/github-btn.html?user=simdjson&repo=simdjson&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
	</div>
</footer> {{ "<!-- END FOOTER -->" | safeHTML }}
	
